<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./../static/css/style.css">
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="./../static/javascript/websocket.js"></script>
<script src="./../static/javascript/script.js"></script>

<title>Universe</title>
</head>
<body>

<div class="menu">
    <h2>Übersicht</h2>
</div>

<div class="sensorcontainer" id="sensorcontainer">
    
</div>

</body>
</html>
