.menu {
    width: 10%;
    height: 90%;
    position: fixed;
    left: 0px;
    top: 5%;
    background-color: darkgray;
    color: black;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.sensorcontainer2 {
    width: 90%;
    left: 10%;
    position: absolute;
}

.sensorelement{
    width: 30%;
    margin: 5px;
    height: auto;
    position: relative;
    float: right;
    top: 5%;
    background-color: darkgray;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 1vw;
}

.sensorcontainer2 {
    width: 90%;
    left: 10%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
}

.sensorelement2{
    width: 95%;
    margin: 5px;
    height: auto;
    position: relative;
    float: right;
    top: 5%;
    background-color: darkgray;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 1vw;
}

.temp_graph {
    width: 100%;
    height: 150px;
}

.chart {
    width: 100%;
    height: 230px;
}

body {
    background-color: darkcyan;
}