.menu {
    width: 10%;
    height: 90%;
    position: fixed;
    left: 0px;
    top: 5%;
    background-color: darkgray;
    color: black;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.sensorcontainer {
    width: 90%;
    left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
}

.sensorelement{
    width: 95%;
    margin: 5px;
    height: auto;
    position: relative;
    float: right;
    top: 5%;
    background-color: darkgray;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

body {
    background-color: darkcyan;
}